@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&display=swap');

:root {
    /* App Colors */
    --primary: #19A7CE;
    --secondary: #146C94;
    --hover: #AFD3E2;
    --background: #F6F1F1;
    /* Pokemon Type Colors */
    --normal: #A1A1A1;
    --fighting: #F08733;
    --flying: #8FB8E4;
    --poison: #6D4B97;
    --ground: #895229;
    --rock: #ADA984;
    --bug: #95A135;
    --ghost: #6B426E;
    --steel: #74A2B9;
    --fire: #D43A30;
    --water: #4C79BC;
    --grass: #5D9D3C;
    --electric: #F2C341;
    --psychic: #DC4D79;
    --ice: #78CCF0;
    --dragon: #4C60A9;
    --dark: #4E403F;
    --fairy: #BA7FB5;
    --unknown: #76A696;
    --shadow: #181616;
}

* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

