.content_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 84vh;
}

.card_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    height: 550px;
    width: 350px;
    border: 5px solid #2B2A4C;
    border-radius: 0.5rem;
    background-color: #B31312;    
    box-shadow: 0px 90px 69px -14px rgba(0,0,0,0.75);
    transform-style: preserve-3d;
}

.pokemon_title{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    height: 5%;
    width: 100%;
    background-color: #EEE2DE;
    border-radius: 0.5rem 0.5rem 0 0;
    transform-style: preserve-3d;
}

.pokemon_image{
    background: radial-gradient(circle, rgba(100,216,247,1) 50%, rgba(20,108,148,1) 100%);
    height: 45%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transform-style: preserve-3d;
}


.pokemon_details{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    height: 50%;
    width: 100%;
    border-radius: 0 0 0.5rem 0.5rem;
    padding: 1rem;
    background-color: #EEE2DE;
    transform-style: preserve-3d;
}

.types_container{
    display: flex;
    gap: 0.5rem;
    padding: 0.5rem;
    transform-style: preserve-3d;
}

.chip{
    color: white ;
    font-size: 1rem ;
    font-weight: 700;
    letter-spacing: 0.1rem;
    /* transform: translateZ(15px); */
}

.pokemon_info{
    display: flex;
    gap: 1rem;
}